/*====================init===============================*/
*{
    
   padding: 0;
   margin: 0;
   box-sizing: border-box;
    
}

/*character...*/
body
{
    background-color: #10052D;
    color: #FFFFFF;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size:0.9em;
    
    
}

ul
{
    
    list-style: none;
}

/*=================end of init==============================*/

/*  top header */

.top-header{
    
    background-color: #4B3B77;
    /*6C5E93*/
    height: 60px;
    box-shadow: 0 2px 10px #333333;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1;
    display: flex;
    align-items: center;
    
}

.avatar
{
    
    height: 40px;
    width:40px;
    padding-left: 9px;
    padding-top: 5px;
    margin-right: 20px;
    background-color: #FFFFFF;
    color: #333C4D;
    border-radius: 50%;
    
}

input[type='text'], input[type='password'] {
  padding: 6px;
  margin-top: 5px;
  font-size: 17px;
  border: none;
  
}

/*keyterm-container==========================================*/
.keyterm-container .keyterm-btn
{
    float: right;
    padding: 6px 10px;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 10px #333333;
    
}

.keyterm-container{
	
	display:none;
	
}




#logout-link
{
	display:none;
	margin-left:2px;
	margin-right:5px;
	color:#cb6868;
}
/* top navigation */
.top-nav
{
    
    flex: 1;
}

.top-nav a 
{
    color:#FFFFFF;
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
    
}

.welcome-msg
{
    padding: 5px;
    margin-right: 5px;
    border-right: 1px solid #FFFFFF;

    
}



/* =============section==========================*/

/*=================main container================*/
.container
{
    
    margin: 60px auto;
    max-width: 1000px;
    min-width: 600px;
    position: relative;
}



/*=================main header================*/



.main-section
{
    
    background: #352762;
}

/**
 *========= aside================
 */
 
aside
{
   float: left;
   width: 180px;
    
}

.nav-icon
{
    color: #CFC7E7; 
    padding: 20px;
    text-align: center;
    
}

#refine-btn{
    
    position: relative;
    display: none;
    width: 180px;
}

.radius{
    
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 18px;
    
}

.radius a {
    
    color: #10052D;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 100px;
    background-color: #9775AA;
}

#refine-btn:hover .radius{
    
    display: block;
}

#refine-btn:hover .refine-radius{
    
    display: block;
}

#refine-btn a:hover{
    
      background-color: white;
}

/*Log in======================*/

.login_form{
    
    float:right;
    position: fixed;
    right:0;
    padding: 10px;
    margin: 10px 10px 0 4px;
    background-color: #9775AA;
    border-radius: 5px;
    z-index: 1;
}

.login_form > button {
  background-color: #cb6868;
  color: #f3dad1;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  margin-top: 10px;
  float: right;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 4px 5px #333333;
  cursor: pointer;
  
}

button >a{
	color: #f3dad1;
	text-decoration: none;
}

#register{
	
	background-color: #8E2F5C;
	
	margin-left:5px;
}


/*====================================*/

/* Select sorting*/

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #352762;
  background-image: none;
}

/* Custom Select */
.select {
  
  position: fixed;
  display: none;
  float:right;
  top:300px;
  right:20px;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #4B3B77;
  overflow: hidden;
  border-radius: .25em;
  
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #4B3B77;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #CFC7E7;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/*====================================*/

/**
 * main navigation
 */

.main-nav-btn
{
    display: block;
    background: none;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-top: 1px solid #FFFFFF; 
    text-align: left;
    text-decoration: none;
}

.main-nav-btn:hover
{
    background: #CFC7E7;
    opacity: 0.8;
	color: #624630;

}

/*
.main-nav-btn.active {
	background: #F2EBD9;
	color: #624630;
}

*/


.active
{
    background: #CFC7E7;
	color: #624630;
    
}
.main-nav-btn i
{
    
    width: 20px;
    
}

/**
 * ==================item list===================
 */

.item-list
{
    background: #CFC7E7;
    color: #352762;
	list-style: none;
	margin-left: 180px;
	min-height: 310px;
	padding: 10px;
     
}

#item-list .notice {
	
	font-size: 16px;
	padding: 60px;
	text-align: center;
} 


/**
 * item
 */

.item
{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #FFFFFF;
    margin: 10px;
    
    
}

.item:last-child {
	border: none;
}


.item:hover
{
    
    background: rgba(255, 255, 255, 0.8);
	transition: background-color 100ms linear;
    
}

.item img
{
    border: 1px solid #FFFFFF;
    height: 80px;
    min-height:80px;
    min-width:80px;
    width: 80px;
}


.item {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.item-name
{
    color: #624630;
	font-weight: bold;
	text-decoration: none;
    
    
}

.item-name:hover{
    
    text-decoration: underline;
}

.item-category
{
     float: right;
     margin-right: 20px;
     text-align: right;
    
}

.item-name-container
{
    flex-grow: 1;
    margin-left: 10px;
	margin-right: 10px;
}

.item-address
{
    padding-right: 20px;
    line-height: 20px;
    /*text-align: right;*/
}

.distance 
{
    border-left: 1px solid white;
    line-height: 33px;
    font-weight: bold;
    width:100px;
    min-width:100px;
    margin-right: 8 px;
    font-size:80%;
    padding-left:15px;
    
}


/**
 * fav-link
 */

.fav-link
{
    border-left: 1px solid white;
    line-height: 60px;
    width: 60px;
    min-width:60px;
    text-align: center;
    cursor: pointer;
}

.fav-link:hover
{
    
    color: #F13F3F;
}


/**
 * footer section
 */

footer
{
    font-size: 0.8em;
    height: 200px;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
}

footer p
{
    text-align: center;
    
}

footer p.title
{
    font-size: 1.2em;
    padding: 15px;
}

.best_footer
{
    font-size: 1.5em;
    font-weight: bold;
    
}
footer ul
{
    align-items: center;
    display: flex;
    padding: 20px;
}

footer ul li{
    
    flex:1;
}
